@using Cooperchip.ITDeveloper.Mvc.ServiceApp.ViewModels;
@model FornecedorViewModel

<!-- INVOICE TRIAGEM  -->
@{
    ViewData["Title"] = "Endereço";
    ViewData["PageName"] = "Endereco";
    ViewData["Category1"] = "Endereco";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Endereço";
}

<div class="row">
    <div class="col-xl-12">
            @if (Model != null)
            {

                <table class="table table-bordered table-hover table-striped w-100">
                    <thead class="bg-primary-600">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Logradouro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Numero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Complemento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Bairro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Cep)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Cidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Estado)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Endereco.Logradouro)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Endereco.Numero)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Endereco.Complemento)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Endereco.Bairro)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Endereco.Cep)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Endereco.Cidade)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Endereco.Estado)
                            </td>

                            <td class="text-center">
                                @*<span title="Editar" class="fa fa-pencil-alt"></span>*@
                                <a asp-action="AtualizarEndereco" data-modal="" asp-route-id="@Model.Id" class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" title="Atualizar Endereço" data-original-title="Atualizar Endereço"><i class="fa fa-edit"></i> </a>
                            </td>

                        </tr>
                    </tbody>
                </table>

            }
    </div>
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>



@section ScriptsBlock {

    @*    <partial name="PartialViews/_ScriptDataTables" />*@

    <script>
        SetModal();
    </script>

}

