@using Cooperchip.ITDeveloper.Mvc.ServiceApp.ViewModels;
@model ProdutoViewModel

<!-- INVOICE TRIAGEM  -->
@{
    ViewData["Title"] = $"Detalhe do Produto - {Model.Nome}";
    ViewData["PageName"] = "detalhe-de-produto";
    ViewData["Category1"] = "Produto";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Detalhes do Produto: " + Model.Nome;
}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/page-invoice.css">
}
<div class="container">
    <div data-size="A4">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="fw-400 display-4 fw-350 color-primary-600 keep-print-font pt-4 l-h-n m-0">
                    @Model.Nome
                </h3>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 d-flex">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/images/farmacia/@Model.Imagem" alt="@Model.Imagem" style="width: 300px; height: 428px" />
                        </div>
                        <div class="col-md-6">
                            <dl>
                                <dt>
                                    @Html.DisplayNameFor(model => model.FornecedorId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Fornecedor.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Descricao)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Valor)
                                </dt>
                                <dd>
                                    @Model.Valor.ToString("C")
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DataCadastro)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DataCadastro)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Ativo)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Ativo)
                                </dd>
                            </dl>

                            <div>
                                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                                <a class="btn btn-outline-secondary" href="javascript:window.history.back();">Voltar</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>